<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-200">
    <main class="flex flex-col items-center h-screen justify-center">
      <div class="mb-48 bg-white p-8 rounded-xl shadow-lg">
        <h1 class="font-semibold text-4xl pb-4 text-center">Change password</h1>
        <br />
        <form
          action="/password"
          method="post"
          class="flex flex-col justify-center"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <label for="iid" class="text-lg">Old password: </label>
          <input
            class="border-black border-2 mb-6 rounded-md"
            type="password"
            name="oldPassword"
            id="email"
            placeholder=" Enter old password"
          /><br />
          <label for="password" class="text-lg">New password: </label>
          <input
            class="border-black border-2 mb-4 rounded-md"
            type="password"
            name="newPassword"
            id="password"
            placeholder="Enter new password"
          /><br /><br />
          <input
            class="border-2 border-black p-1 rounded-md mb-4 bg-slate-400"
            type="submit"
          /><br />
        </form>
      </div>
    </main>
    <script>
      console.log("<%= csrfToken %>");
    </script>
  </body>
</html>
