<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Love Learning</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main
      class="flex flex-col items-center h-screen justify-center bg-slate-200 text-lg text-center"
    >
      <div class="mb-48 bg-white p-8 rounded-xl shadow-lg">
        <h1 class="font-bold text-4xl text-center">Learning management</h1>
        <br />
        <a
          href="/login"
          class="text-blue-700 border-2 border-black px-2 pb-1 rounded-md bg-blue-200"
          >Login</a
        ><br /><br /><br />
        <p>Don't have an account? Sign up</p>
        <br />
        <div>
          <a
            href="/educatorSignup"
            class="text-blue-700 border-2 border-black px-2 pb-1 rounded-md bg-blue-200"
            >As educator</a
          >
          OR
          <a
            href="/studentSignup"
            class="text-blue-700 border-2 border-black px-2 pb-1 rounded-md bg-blue-200"
            >As student</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
