<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New chapter</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="font-serif">
      <h1 class="font-semibold text-4xl mt-20 ml-60">Create a new chapter</h1>
      <br /><br />
      <form action="/chapter" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <label for="new-course" class="ml-60 text-xl font-semibold"
          >Name of the chapter:</label
        ><br />
        <input
          type="text"
          id="new-course"
          name="name"
          placeholder=" Chapter name"
          class="border-2 border-black rounded-sm text-xl ml-60"
        /><br /><br />
        <select name="courseId" class="ml-60 px-4 py-2" required>
          <option value="" selected disabled>Select course</option>
          <% for(let i = 0; i < courses.length; i++) { %>
          <option value="<%= courses[i].id %>"><%= courses[i].name %></option>
          <% } %>
        </select>
        <br />
        <button
          class="border-2 border-black px-1 rounded-sm mx-2 bg-green-500 ml-60 mt-4 text-xl"
        >
          Submit
        </button>
      </form>
    </main>
  </body>
</html>
