<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chapters</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="font-serif">
    <h1 class="text-3xl underline text-center my-8"><%= thisPage.name %></h1>
    <div id="content" class="mx-8 mb-10 text-center">
      <%= thisPage.content %>
    </div>
    <div class="flex justify-evenly">
      <% if(prevPageId !== -1){ %>
      <a
        href="/page/<%= prevPageId %>"
        class="bg-green-500 border-2 px-1 rounded-sm border-black"
      >
        <- Previous
      </a>
      <% } %> <% if(nextPageId !== -1) { %>
      <a
        href="/page/<%= nextPageId %>"
        class="bg-green-500 border-2 px-1 rounded-sm border-black"
      >
        Next ->
      </a>
      <% } %>
    </div>
  </body>
</html>
