<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My courses</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="font-serif bg-slate-100">
        <h1 class="text-center font-semibold text-5xl py-6 mt-16">Welcome!</h1>
        <a href="/signout" class="signout bg-red-500 absolute top-10 right-28 py-1 px-1 border-2 border-black font-semibold">Signout</a>
        <main class="flex justify-evenly">

            <div id="enrolled-courses" class="bg-orange-300 p-4 rounded-sm">
                <h2 class="font-semibold text-3xl">Enrolled Courses</h2>

                <div class="card pb-4 border bg-white rounded-md shadow-md w-60 relative m-4 hover:shadow-xl">
                    <h3 class="px-2 pb-2 text-2xl">Course name</h3>
                    <p class="px-3 pb-2 text-md">Teacher name</p>
                    <button class="view border-2 border-black px-1 rounded-sm mx-2 bg-violet-500">View course</button>
                </div>
            </div>

            <div id="available-courses" class="bg-blue-300 p-4 rounded-sm">
                <h2 class="font-semibold text-3xl">Available Courses</h2>
                
                <div class="card pb-4 border bg-white rounded-md shadow-md w-60 relative m-4 hover:shadow-xl">
                    <h3 class="px-2 pb-2 text-2xl">Course name</h3>
                    <p class="px-3 pb-2 text-md">Teacher name</p>
                    <button class="view border-2 border-black px-1 rounded-sm mx-2 bg-violet-500">View course</button>
                    <button class="enroll border-2 border-black px-1 rounded-sm mx-2 bg-green-500">Enroll</button>
                </div>
            </div>
        </main>
    </body>
</html>
